<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9329CAMPHOR-.591471CB5ECB4" Version="1.0.0.0" Publisher="CN=02A7ACBA-30DB-4738-8B9A-D332B9EF1F4F" />
  <Properties>
    <DisplayName>ポケモン鳴き声神経衰弱</DisplayName>
    <PublisherDisplayName>学生団体CAMPHOR-</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ポケモン鳴き声神経衰弱" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="ポケモンの鳴き声で神経衰弱をするというゲーム。あなたの耳でその音を感じよ。" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="noLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>